---
layout: default
title: Projects
---
<section class="list grid-container">
  <div class="grid-row">
    <div class="col-4"></div>
    <div class="col-7">
      <p class="bloge-label">Latest posts</p>
      {% for post in site.posts %}
          {% if post.projects %}
              <div class="item {% if post.star %}star{% endif %}">
                  <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                      <h3 class="title">{{ post.title }}</h3>
                      <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                  </a>
              </div>
          {% endif %}
      {% endfor %}
    </div>
    <div class="col-1"></div>
  </div>

</section>
