<div id="header">
    <a id="logo" href="/">
        KimJaeHyun :)
    </a>
    <ul class="search__results" id="results-container"></ul>
    <ul id="menu" class="nav clearfix">
        <li class="{% if page.url != '/opensource/' and page.url != '/openapi/' and page.url != '/events/' %} active {% endif %}"><a href="{{ base_path }}/">Work</a></li>
        <li class="{% if page.url == '/opensource/' %} active {% endif %}"><a href="{{ base_path }}/blog/">Blog</a></li>
        <li class="{% if page.url == '/openapi/' %} active {% endif %}"><a href="{{ base_path }}/about/">About</a></li>
    </ul>
</div>
